*{
	margin: 0px;
	list-style-type:none;
	text-decoration: none;
	font-family:verdana,sans-serif;
}
body
{
    background-image:url("images/plain.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-image: fixed;
    background-attachment: fixed;
}
nav
{
	width: 100%;
	height:65px;
	background:linear-gradient(50deg,rgba(79,21,21,0.5),rgba(247,19,19,0.5));
}
.logo
{
	padding: 8px 40px;
}
.ar
{
   color:#4BF96F;
   font-family: jokerman;
   font-size:37px;  
   cursor: pointer;
   border:2px solid black; 
   width: 100px;
   border: none;
} 
.ar span
{
	color:#BBEF08;
	font-family:ravie; 
}
.li
{
	float:right;
	position: relative;
	bottom: 40px;
	
}
.li li
{
	display: inline;
	margin: 15px;
	font-size: 20px;
}
.li li a
{
	color:#BBEF08;
	border:2px solid red;
	padding: 2px 4px 2px 4px; 
	font-family: britannic;
	border: none;
	border-radius: 20px;
	transition: 2s; 
}
.li li a:hover
{
	box-shadow: inset -140px 0px 0px 0px black, inset 140px 0px 0px 0px black;
}
.aru 
{
	 margin-left: 22%;
     position:absolute;
     bottom: 574px;
     
}
.aru h1
{
	color: #BBEF08;
	 font-family: ravie; 
	 font-size: 20px;
	 cursor: pointer;
	 margin-top: 90px;
}
.aru p
{
	color: #4BF96F;
	 font-family: forte; 
	 font-size: 15px;
	 padding-left: 300px; 
	 border:2px solid red;
	 padding: 1px 10px;	 
	 margin-left:270px; 
	 border: none;	
	 width: 83px;
	 border-radius: 20px;
	 transition: 2s; 
	 cursor: pointer; 
}
.aru p:hover
{
	box-shadow: inset -140px 0px 0px 0px black, inset 140px 0px 0px 0px black;
}
.img1
{
	position:relative;
	bottom: -90px;
	left:750px; 
	width: 400px;
	height: 400px;
	animation:chic 3s ease-in infinite; 
}
@keyframes chic{
	0%{
		transform: translateY(0rem);
	}
	50%{
		transform: translateY(3rem);
	}
}
.made
{
	margin-left: 30px;
	position: absolute;
	top:250px; 
}
.foo
{
	color:#610E06;
   margin-left: 70px;
   padding-bottom: 10px;
   font-family:ravie;
   border-style: solid;
   width: 458px;
   padding:4px;
   padding-left: 7px;
   cursor: pointer;
   border:none;
   border-radius: 40px;
}
.foo:hover
{
	background-color:white; 
	
}
.made p
{
   font-size: 20px;
   font-family: harlow solid;
   font-weight: bold;
   text-transform: capitalize;

}
.or 
{
	margin-left: 100px;
	margin-top: -10px;
	font-size: 30px;
	font-weight: bolder;
	font-family: cooper;
	border: 2px solid #DB0F0F;
	color: #DB0F0F;
	width: 170px;
	padding: 3px;
	border-radius: 20px;
	cursor: pointer;
	animation:orde 3s infinite;
}
@keyframes orde{
	0%
	{
       transform: translateX(0rem);
	}
	50%
	{
        transform: translateX(3rem);
	}
}
.or:hover
{
background-color:white;

}

.spc
{
	text-align: center;
	margin-top: 170px;
	font-size: 3.5rem;
	padding: 1rem;
	color: #3B0101;
	font-family: jokerman;
    cursor:pointer;
}
.spc span
{
	color: #F90D60;
}
.imge2 img
{
	width: 250px;
	height: 250px;
	
}
.imge2
{
	
  margin-left: 100px;
  padding: 5px;
  background-color:rgb(3,3,3);
  width: 250px;
  height: auto; 
  text-align: center;
  color: red;
  cursor: pointer;
}
.imge3
{
  margin: 10px;
  margin-left: 100px;
  padding: 5px;
  background-color:rgb(3,3,3);
  width: 250px;
  height: auto; 
  text-align: center;
  color: red;
  cursor: pointer;
}
.imge3 img
{
	width: 250px;
	height: 250px;
}
.imge4
{
  margin: 10px;
  margin-left: 500px;
  padding: 5px;
  background-color:rgb(3,3,3);
  width: 250px;
  height: auto; 
  text-align: center;
  color: red;
  cursor: pointer;
}
.imge4 img
{
	width: 250px;
	height: 250px;
}
.container
{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.imge5
{
  margin: 10px;
  padding: 5px;
  background-color:rgb(3,3,3);
  width: 250px;
  height: auto; 
  text-align: center;
  color: red;
  position: relative;
  left:-680px;
  top: 330px;
  cursor: pointer;
  
}
.imge5 img
{
	width: 250px;
	height: 250px;
}
.imge6
{
  margin: 10px;
  margin-left: 500px;
  padding: 5px;
  background-color:rgb(3,3,3);
  width: 250px;
  height: auto; 
  text-align: center;
  color: red;
  position: absolute;
  left:370px;
  bottom: -1120px;
  cursor: pointer;
}
.imge6 img
{
	width: 250px;
	height: 250px;
}
.nave
{
	background-color: red;
	width: 200%;
	height: auto;
}

